{% extends 'index.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
<h1> Configuracion de agentes</h1>
    <label for="players">Numero de jugadores por equipo</label> 
    <input  name = "players" id="players" type="number" max = "20" min = "1" value="{{number}}" >
    <button type = "submit" id = saveNumberOfPlayers name= "saveNumberOfPlayers" value="saveButton">Confirmar</button>
    <br>
    
        <div class="agentDiv">

            <label>AXIS TEAM</label>
            <br>
            {% for i in playerNumber %}
            <label for="AxisName{{i}}">Name: </label>
            <input type= "text" value= "" name = "AxisName{{i}}" id = "AxisName{{i}}">
            
            <label for="AxisRank{{i}}">Rank: </label>
            <select name="AxisRank{{i}}" id = "AxisRank{{i}}">
                <option value="medic">Medic</option>
                <option value="field">Field</option>
                <option value="soldier">Soldier</option>
            </select>
            <br>
            {% endfor %}
        </div>
        <br>
        <div class="agentDiv"> 

            <label>ALLIED TEAM</label>
            <br>
            {% for i in playerNumber %}
            <label for="AlliedName{{i}}">Name: </label>
            <input type= "text" value= "" name = "AlliedName{{i}}" id = "AlliedName{{i}}">
                
            <label for="AlliedRank{{i}}">Rank: </label>
            <select  name = "AlliedRank{{i}}" id="AlliedRank{{i}}">
                <option value="medic">Medic</option>
                <option value="field">Field</option>
                <option value="soldier">Soldier</option>
            </select>
            <br>
            {% endfor %}
        </div>
    
    <button type= "submit" name = "search">Guardar</button>
</form>
{% endblock %}