{% extends 'home.html' %}
{% load i18n %}
{% load static %}

{% block create %}
    <form method="POST" class="form-select">
        {% csrf_token %}
        <div class="form-group">
            <label class = "create-label" for="config-name">{% trans "Nombre de partida" %}</label>
            <input class="create-input" type="text" name="NewConfigName" id="config-name" required>
            <button type="submit" class="button create">{% trans "Crear" %}</button>
        </div>
        
            
        </div>
    
    </form>
{% endblock %}

