{% load static %}
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
{% include 'language.html' %}
<form method="POST" class="container-home">
    {% csrf_token %}
    <h1 class="logo">{% trans "PYGOMAS" %}</h1>
    <div class="menu">
        <center>
        <a href="/pygomas/createConfig" class="button">{% trans "Nueva partida" %}</a>
        
        <a href="/pygomas/selectConfig" class="button">{% trans "Cargar partida" %}</a>
        </center>
        {% block create %}
        {% endblock %}
        {% block select %}
        {% endblock %}
    </div>
</form>
</body>
</html>