{% extends 'menu.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<form method="POST" class="agentForm">
    {% csrf_token %}
    <h1 class = "agentTitle">{% trans "Configuracion de manager"%}</h1>
        <div class = "managerContainer">
            <label for="NombreServer">{% trans "Nombre servidor"%}</label>
            <input class= "managerInput" type = "text" name="NombreServer" value="{{data_game.SERVER}}">
            <br>
            <label for="NombreManager">{% trans "Nombre de manager"%}</label>
            <input class= "managerInput" type = "text" name="NombreManager" value="{{data_game.MANAGER}}">
            <br>
            <label for="NombreServicio">{% trans "Nombre de servicio"%}</label>
            <input class= "managerInput" type = "text" name="NombreServicio" value="{{data_game.SERVICE}}">
            <br>
            <label  for="Puerto">{% trans "Puerto"%}</label>
            <input type = 'number' class= "managerInput" type = "text" name="Puerto" value="{{data_game.PORT}}">
            <br>
            <label  for="Njugadores">{% trans "Numero de jugadores"%}</label>
            <input type = 'number' class= "managerInput" type = "text" name="Njugadores" value="{{data_game.NUM_PLAYERS}}">
            <br>
            <label  for="matchTime">{% trans "Tiempo de partida"%}</label>
            <input type = 'number' class= "managerInput" type = "text" name="matchTime" value="{{data_game.TIME}}">
        
            <button class="btnSave"type= "submit" name = "search">Guardar</button>
        </div>
</form>
{% endblock %}