<html>
    {% load static %}
    {% load i18n %}
<head>
    <title>PYGOMAS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\style.css' %}">
</head>
<body>
    {% include 'language.html' %}
    <form method ="POST" class="container-home">
         {% csrf_token %}
        <center>
            <h1 class="logo">{% trans "PYGOMAS" %}</h1>
            <div class="menu">
                <a href="/pygomas/menu/managerConfig" class = "button menu">{%trans "Configurar manager"%}</a>
                <br>
                <a href="/pygomas/menu/agentConfig" class="button menu">{% trans "Jugadores" %}</a>
                <br>
                <a href="/pygomas/menu/mapEditor" class="button menu">{% trans "Mapa"%}</a>
                <br>
                <a class = "start-button" href="/pygomas/menu/launcher">{%trans "Crear partida" %}</a>
                <a class = "start-button" href="/pygomas/menu/onlinemode">{%trans "Unirse a partida" %}</a>
            </div>
        </center>
    </form>
    
      
{% block content %}
{% endblock %}
<div id="footer">
    <p id="mainSave" class="datosPartida"><strong>{% trans "Partida: "%}</strong>{{ mainSave }}</p>
    <p id="mapName"><strong class="datosPartida">{%trans "Mapa: "%}</strong>{{ data_game.MAP_NAME }}</p>
    <p id="agentes"><strong class="datosPartida">{%trans "Agentes: "%}</strong>{{ data_game.AGENTS }}</p>
</div>
    <a href="/" class="button return">{% trans "Volver"%}</a>
</body>
</html>