<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script>
            function hideForm(formType) {
                var createForm = document.getElementsByName("createGame")[0];
                var loadForm = document.getElementsByName("loadGame")[0];

                if (formType == 'create') {
                    console.log("Click create")
                    createForm.style.display = 'block';
                    loadForm.style.display = 'none';
                } else {
                    console.log("Click load")
                    createForm.style.display = 'none';
                    loadForm.style.display = 'block';
                }
            }
        </script>
        <style>
        </style>
    </head>
    <body>
        <div class="container-home">
            <h1 class="logo">PYGOMAS</h1>
            <div class="menu">
            <center>
                <a class="button" onclick="hideForm('create')">Nueva partida</a>
        
                 <a class="button" onclick="hideForm('load')">Cargar partida</a>
            </center>
                    <!--Aqui habia un bloque django-->
            <form  style="display:none" method="POST" class="form-select" name = "createGame">
                <div class="form-group">
                    <label class = "create-label" for="config-name">Nombre de partida</label>
                    <input class="create-input" type="text" name="GameName" id="config-name" required>
                    <button type="submit" class="button create" name="button" value = "createGame">Crear</button>
                </div>
            </form>

            <form style="display:none" method="POST" class="form-select" name = "loadGame">
                <div class="form-group">
                    <label class = "create-label" for="ConfigName">Nombre de partida</label>
                    <select name="GameName" class="select-input" required>
                         <option value="" class="">{{ save }}</option>
                        {% for save in saves %}
                        <option value="{{ save }}" class="select-option">{{ save }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="button" value="loadGame" class="button create">Seleccionar</button>
                </div>    
            </form>

    </div>
</div>
</body>
</html>