<html>
<head>
    <meta http-equiv="refresh" content="1">
    <link rel="stylesheet" type="text/css" href="/static/css/monitorize.css">
    <script src="/static/js/monitorize.js"></script>
</head>
<body>
    <div class = "div-main" data-valor="{{firstLoad}}" id="main">
        <div class="div-tablas">
            <div class="div-allied">
                <div class="div-alliedtable" data-valor="{{alliedSoldiers}}" id = "alliedList">                
                    <table>
                        <thead >
                            <tr>
                                <th class = "allied-title">Equipo Aliados</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            {% for allied in initAlliedSoldiers %}
                                <tr>
                                    <td>
                                        <div class = "filas"> 
                                            <div class = "status"><img src="/static/icons/alive.png"></div>
                                            <div class = "name" value><span id="{{allied}}">{{ allied }}</span></div>
                                            <div class = "input"><input type="text"></div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            
            <div class = "div-axis">
                <div class= "div-axistable" data-valor="{{axisSoldiers}}" id = "axisList">
                    <table>
                        <thead >
                            <tr>
                                <th class = "axis-title">Equipo Eje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for axis in initAxisSoldiers %}
                                <tr>
                                    <td>
                                        <div class = "filas"> 
                                            <div class = "status"><img src="/static/icons/alive.png"></div>
                                            <div class = "name"><span id="{{axis}}">{{ axis }}</span></div>
                                            <div class = "input"><input type="text"></div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="div-return">
            <a href="/pygomas/menu" class="a-return">Volver</a>
        </div>  
    </div>
</body>
</html>